/* Input Form */
#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#form-text{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 120px;
    width: 260px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    background-color: white;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: .25rem;
    box-shadow: 0 0 4px 1px #444444;
}
.form-button{
    display: block;
    font-size: 18px;
    font-weight: 400;
    border-radius: .25rem;
    width: 100%;
    background-color: #946a00;
    color: rgb(252, 228, 167);
    border: none;
    cursor: pointer;
}
form .dimension{
    font-size:15px;
    width:60px;
}
.canvas-size{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between
}
.size-forms{
    flex-grow: 1;
    width: 95px;
}
.size-forms > input {
    display: inline-block;
}
.submit-button{
    margin: 5px 10px 0 10px;
    flex-grow: 1;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(../images/splash.jpg);
    opacity: 0.95;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-circle {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    margin: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Toolbars */
    /* Top */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFC739;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px #444444;
}
.align-left {
    margin: 0 auto;
}
.align-right {
    margin: 0 auto;
}
.align-center {
    margin: 0 auto;
}
.button-style {
    height: 50px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.brush-style {
    display: inline-block;
}
    /* Left */
.button-style .btn-group-vertical {
    height: 50px;
}
.button-style .btn-group-vertical .btn {
    border-radius: 0;
}
#tools {
    position: absolute;
    display: flex;
    top: 20%;
    left: 0;
    width: 80px;
}

#tools button {
    width: 55px;
    height: 50px;
    opacity: 0.8;
}


#tools button.active, 
.btn-secondary:not(:disabled):not(.disabled).active.grid{
    background-color: lightgray;
    opacity: 1;
}

.upload {
    display: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 1px rgba(108,117,125,.5)
}


/* Custom cursor */


.cursor, .cursor-outer  {
    margin: 0 !important;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    border-radius: 100%;
    border: black solid 1px;
}

.cursor-outer {
    min-width: 20px;
    min-height: 20px;
}

.cursors {
    display:none;
}
#canvas:hover + .cursors {
    display: block;
    margin-top: 20px;
}

/* Canvas */

#canvas {
    position: absolute;
    top: 90px;
    left: 80px;
    background-color: #ffffff;
}
#canvas-real {
    border: 1px black solid;
}
#canvas-grid.grid{
    background: linear-gradient(90deg, transparent 99.5%, rgba(0, 0, 0, 0.5) 99.5%), linear-gradient(180deg, transparent 99%, rgba(0, 0, 0, 0.5) 99%);
    background-size:34%;
    background-repeat: repeat;
    z-index: 80;
}

.canvas {
    position: absolute;
    background-color: transparent;
    cursor: none;
}

.canvas:not(:hover){
    cursor: default;
}

#canvas-draft {
    z-index: 100;
    border: 1px black solid;
}



.color-picker,
.color-stroke-picker {
    width: 40px;
    height: 38px;
    border: 0;
    margin: 0;
    padding: 0;
}

.color-picker .sp-replacer {
    border-radius: .25rem;
}

.stroke-size {
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: .25rem;
    position: relative;
    top: 2px;
}
.button-style button[id^=stroke-size] {
    padding: 0;
    height: 20px;
    background: #FFC739;
    border: none;
    outline: none;
    box-shadow: none;
}

.sp-replacer {
    padding: 0;
    border: 0;
}

.sp-preview {
    width: 100%;
    height: 100%;
    border: none;
}
.sp-preview-inner {
    border-radius: .25rem;
}
.sp-dd {
    position: absolute;
    height: 38px;
    width: 40px;
    padding: 0;
    border-radius: .1rem;
}

.color-stroke-picker .sp-dd {
    position: absolute;
    height: 28px;
    width: 30px;
    margin: 5px;
    background-color: white;
}

.sp-replacer {
    width: 100%;
    height: 100%;
}


body {
    background-color: wheat;
}

.textInputForm {
    margin: 0;
    z-index: 1000;
    position: absolute;
}
.textInput {
    padding: 10px;
    text-align: center;
    background-color: transparent;  
    border: none;
    min-width: 100px;
    min-height: 50px;
}

.textInputForm:hover .cursor, .textInputForm:hover .cursor-outer {
    display: none;
}

.textInput:focus {
    border: none;
}
.font-select {
    background-color: #5a6268;
    border-color: #545b62;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 0;
}

.side-function {
    background: rgb(255, 218, 115);
    border-radius: 20px;
    width: 28%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px #353535;
}
.button-style button {
    box-shadow: 1px 1px 1px #000000;
    background-color: #eeecec;
}
.button-style button:active {
    box-shadow: inset 1px 1px 1px #000000;
}
.btn.focus, .btn:focus {
    box-shadow: 1px 1px 1px #000000;
}
.btn-group-vertical:focus {
    outline: none;
}
.filter-desktop, .brush-panel, .text-panel {
    display: none;
}

.stamp-panel img {
    width: 32px;
}

#selected-stamp {
    width: 58px;
}

.emoji-grid {
    display: none;
    background: white;
    width: 400px;
    height: 300px;
    overflow: scroll;
    top: 58px;
    position: absolute;
    z-index: 110;
    border: 1px solid;
    padding: 5px;
}

.emoji-grid li{
    list-style-type: none;
    float: left;
}
div .dropdown {
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 500;
    right: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content button:hover {
    box-shadow: inset 1px 1px 1px #000000;
}
button.btn {
    width: 42px;
}
.text-rotate {
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: .25rem;
    position: relative;
    top: 2px;
}
.btn-group-vertical .text-rotate-picker {
    padding: 0;
    height: 20px;
    background: rgb(255, 218, 115);
    border: none;
    outline: none;
    box-shadow: none;
}

