/* Input Form */
#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#form-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: .25rem;
    box-shadow: 0 0 4px 1px #444444;
    background-color: #f5f5dc6e;
}
.form-button{
    display: block;
    font-size: 18px;
    font-weight: 400;
    border-radius: .25rem;
    width: 100%;
    background-color: #946a00;
    color: rgb(252, 228, 167);
    border: none;
    cursor: pointer;
}
form .dimension{
    font-size:15px;
    width:60px;
}
.canvas-size{
    height: 100%;
    width: 60%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between
}
.size-forms{
    flex-grow: 1;
    width: 95px;
}
.size-forms > input {
    display: inline-block;
}
.submit-button{
    margin: 10px 10px 0 10px;
    flex-grow: 1;
}
.import-button{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    border-radius: .25rem;
    width: 100%;
    margin: 10px 10px 0 10px;
    background-color: #946a00;
    color: rgb(252, 228, 167);
    border: none;
    cursor: pointer;
}
.import-file{
    flex-grow: 1;
    text-align: center;

}
.import-button svg{
    height: 100%;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(../images/splash.jpg);
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-circle {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    margin: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Toolbars */
    /* Top */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcb52;
    margin-bottom: 10px;
    box-shadow: 0 3px 8px #444444;
    z-index: 99;
}
.button-style {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;

}
.button-style > div {
    margin: 5px 5px;
}
.align-center {
    flex-grow: 1;
}
.brush-style {
    display: inline-block;
}
    /* Left */
.button-style .btn-group-vertical {
    height: 50px;
}
.button-style .btn-group-vertical .btn {
    border-radius: 0;
}
#tools {
    position: absolute;
    display: flex;
    top: 20%;
    left: 0;
    width: 80px;
}

#tools button {
    width: 42px;
    height: 40px;
    opacity: 0.8;
    background-color: #c1b07d;
    border-radius: 0;
    border: none;
    padding: 6px;
    transition: width 0.25s;
}
#tools button.active {
    background-color: #ffcf60;
    box-shadow: 1px 1px 2px #000000;
    opacity: 1;
    width: 58px;
    z-index: 2; 
}
#tools button.hover {
    border: none;
    width: 50px;
} 
.btn-group-vertical>.btn+.btn,
 .btn-group-vertical>.btn+.btn-group,
  .btn-group-vertical>.btn-group+.btn,
   .btn-group-vertical>.btn-group+.btn-group {
    margin-top: 0;
}

.upload {
    display: none;
}


/* Custom cursor */


.cursor, .cursor-outer  {
    margin: 0 !important;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 85;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    border-radius: 100%;
    border: black solid 1px;
}

.cursor-outer {
    min-width: 20px;
    min-height: 20px;
}

.cursors {
    display:none;
}
#canvas:hover + .cursors {
    display: block;
    margin-top: 20px;
}

/* Canvas */

#canvas {
    position: absolute;
    top: 90px;
    left: 80px;
    background-color: #ffffff;
}
#canvas-real {
    border: 1px black solid;
}
#canvas-grid.grid{
    background: linear-gradient(90deg, transparent 99.5%, rgba(0, 0, 0, 0.5) 99.5%), linear-gradient(180deg, transparent 99%, rgba(0, 0, 0, 0.5) 99%);
    background-size:34%;
    background-repeat: repeat;
    z-index: 80;
}

.canvas {
    position: absolute;
    background-color: transparent;
    cursor: none;
}

.canvas:not(:hover){
    cursor: default;
}

#canvas-draft {
    z-index: 90;
    border: 1px black solid;
}



.color-picker,
.color-stroke-picker {
    width: 40px;
    height: 38px;
    border: 0;
    margin: 0;
    padding: 0;
}

.color-picker .sp-replacer {
    border-radius: .25rem;
}

.stroke-size {
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: .25rem;
    position: relative;
    top: 2px;
}
.button-style button[id^=stroke-size] {
    padding: 0;
    height: 20px;
    background: #ffcb52;
    border: none;
    outline: none;
    box-shadow: none;
}

.sp-replacer {
    padding: 0;
    border: 0;
}

.sp-preview {
    width: 100%;
    height: 100%;
    border: none;
}
.sp-preview-inner {
    border-radius: .25rem;
}
.sp-dd {
    position: absolute;
    height: 38px;
    width: 40px;
    padding: 0;
    border-radius: .1rem;
}

.color-stroke-picker .sp-dd {
    position: absolute;
    height: 28px;
    width: 30px;
    margin: 5px;
    background-color: white;
}

.sp-replacer {
    width: 100%;
    height: 100%;
}


body {
    background-color: #f0f0f0;
}

.textInputForm {
    margin: 0;
    z-index: 98;
    position: absolute;
}
.textInput {
    padding: 10px;
    text-align: center;
    background-color: transparent;  
    border: none;
    outline: #bdbdbd dashed 2px;
    /* min-width: 100px; */
    min-height: 50px;
    resize: horizontal
}
.textInput:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.textInputForm:hover .cursor, .textInputForm:hover .cursor-outer {
    display: none;
}

.textInput:focus {
    border: none;
}
.select-font {
    width: 130px;;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 0;
}

.fs-results li {
    width: 180;
    overflow: hidden;
}

.side-function {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-style button {
    border: 1px solid grey;
    background-color: #f0f0f0;
}
.button-style button:active,
.button-style button.active {
    background: #bdbdbd;
}
.btn.focus, .btn:focus {
    border: 1px solid grey;
    box-shadow: none;
}
.btn-group-vertical:focus {
    outline: none;
}
.filter-desktop, .brush-panel, .text-panel, .shape-panel {
    display: none;
}

.sticker-panel img {
    width: 32px;
}

#selected-sticker {
    width: 58px;
}

.slider.slider-horizontal {
    margin-left: 10px;
    width: 130px;
}

.emoji-grid {
    display: none;
    background: white;
    width: 172px;
    height: 139px;
    overflow: scroll;
    top: 58px;
    position: absolute;
    z-index: 110;
    border: 1px solid;
    padding: 5px;
}

.emoji-grid li{
    list-style-type: none;
    float: left;
}
div .dropdown {
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 500;
    right: 0;
}
.dropdown-content button {
    border-radius: none;
    border: none;
    width: 42px;
    height: 38px;
}
.show {
    display:block;
}
.dropdown-content button:hover {
    border: 1px solid grey;
    background: #bdbdbd;
    border-radius: none;
}
button.btn {
    width: 42px;
}
.text-rotate {
    width: 40px;
    height: 38px;
    text-align: center;
    border-radius: .25rem;
    position: relative;
    top: 2px;
}
.btn-group-vertical .text-rotate-picker {
    padding: 0;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
.brush-style-2 img {
    transform: rotate(45deg) scale(0.68) translate(-1px, -3px);
}
button.btn.brush-style-2 {
    width: 42px;
    height: 38px;
}
.navbar {
    padding: 10px;
}
.navbar-brand {
    width: 105px;
    margin:0;
}
.navbar-brand img{
    width: 100px;
}
.position {
    color: #666666;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2px;
}