/* Loading Screen */


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Toolbars */

#style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}
#style .btn-group-vertical .btn {
    border-radius: 0;
}

#tools {
    position: absolute;
    top: 80;
    left: 0;
    width: 80px;
    height: 300px;
}

#tools button, .btn.grid{
    width: 50px;
    height: 50px;
    opacity: 0.8;
}


#tools button.active, .btn-secondary:not(:disabled):not(.disabled).active.grid{
    background-color: lightgray;
    opacity: 1;
}

.upload {
    display: none;
}

#style .btn {
    font-size: 11px;
    line-height: 1;
}

/* Custom cursor */


.cursor {
    width: 5px;
    height: 5px;
    position: absolute;
    display: none;
    z-index: 90;
    top: 0;
    left: 0;
    border-radius: 100%;
    border: black solid 2px;
    background-color: black;
}

#canvas:hover .cursor {
    display: block;
    margin-top: 20px;
}

/* Canvas */

#canvas {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 1280px;
    height: 720px;
}

#canvas-grid.grid{
    background: linear-gradient(90deg, transparent 99.5%, rgba(0, 0, 0, 0.5) 99.5%), linear-gradient(180deg, transparent 99%, rgba(0, 0, 0, 0.5) 99%);
    background-size:34%;
    background-repeat: repeat;
    z-index: 80;
}

.canvas {
    border: 1px black dotted;
    position: absolute;
    background-color: transparent;
    width: 1280px;
    height: 720px;
    cursor: none;
}

#canvas-draft {
    z-index: 100;
}

.btn.grid {
    padding: 6px;
}

.color-picker,
.color-stroke-picker {
    width: 50px;
    height: 50px;
    border: 0;
    margin: 0;
    padding: 0;
}

.color-picker .sp-replacer {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.stroke-size {
    width: 50px;
    height: 50px;
    text-align: center;
}

.sp-replacer {
    padding: 0;
    border: 0;
}

.sp-preview {
    width: 100%;
    height: 100%;
    border: none;
}

.sp-dd {
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 0;
}

.color-stroke-picker .sp-dd {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: white;
}

.sp-replacer {
    width: 100%;
    height: 100%;
}